
/ header-top start
/ classes:
/ "dark": dark version of header top e.g. class="header-top dark"
/ "colored": colored version of header top e.g. class="header-top colored"
/ ================
.header-top.colored
  .container
    .row
      .col-2.col-md-5
        / header-top-first start
        / ================
        .header-top-first.clearfix
          %ul.social-links.circle.small.clearfix.hidden-sm-down
            %li.linkedin
              %a{:href => "http://www.linkedin.com", :target => "_blank"}
                %i.fa.fa-linkedin
          .social-links.hidden-md-up.circle.small
            .btn-group.dropdown
              %ul.dropdown-menu.dropdown-animation{"aria-labelledby" => "header-top-drop-1"}
                %li.linkedin
                  %a{:href => "http://www.linkedin.com", :target => "_blank"}
                    %i.fa.fa-linkedin
        / header-top-first end
      .col-10.col-md-7
        / header-top-second start
        / ================
        #header-top-second.clearfix.text-right
          %ul.list-inline
            %li.list-inline-item
              %i.fa.fa-envelope-o.pr-1.pl-10
              contact@FS2000.com
          .btn-group
            %a.btn.btn-default.btn-sm{:href => "page-signup.html"}
              %i.fa.fa-user.pl-2
              Sign Up
          .btn-group
            %button#header-top-drop-2.btn.dropdown-toggle.btn-default.btn-sm.dropdown-toggle--no-caret{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              %i.fa.fa-lock.pl-2
              Login
        / header-top-second end
/ header-top end
