:sass

  .logo_img 
    height: 25px
    margin-top: 15px
  
  .navbar-nav
    float: none
    margin: 0 0 0 150px
  

%body
  %header.header.fixed.clearfix
    .container
      .row
        .col-md-3
          / header-left start
          / ================
          .header-left.clearfix
            / logo
            #logo.logo
              %a{:href => "/"}
                = image_tag 'logo/logo-small.png', class: 'img logo_img'
          / header-left end
        .col-md-9
          / header-right start
          / ================
          .header-right.clearfix
            / main-navigation start
            / classes:
            / "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick"
            / "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated"
            / "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns
            / ================
            .main-navigation.animated.with-dropdown-buttons
              / navbar start
              / ================
              %nav.navbar.navbar-default{:role => "navigation"}
                .container-fluid
                  / Toggle get grouped for better mobile display
                  .navbar-header
                    %button.navbar-toggle{"data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
                      %span.sr-only Toggle navigation
                      %span.icon-bar
                      %span.icon-bar
                      %span.icon-bar
                  / Collect the nav links, forms, and other content for toggling
                  #navbar-collapse-1.collapse.navbar-collapse.scrollspy.smooth-scroll
                    / main-menu
                    %ul.nav.navbar-nav
                      %li.nav-item
                        %a{:href => "#"} 
                          = "Forum"
                      %li.nav-item
                        %a{:href => "/tutorials"}
                          ="Tutorials"
                      %li.nav-item
                        %a{:href => "/support"}
                          ="Support"
                                      
                    / main-menu end
                    / header buttons
                    .header-dropdown-buttons
                      %a.btn.btn-sm.hidden-xs.btn.btn-gray-transparent{:href => "/users/edit"}
                        Account
                        %i.fa.fa-user.pl-5
                      %a.btn.btn-lg.visible-xs.btn-block.btn.btn-gray-transparent{:href => "/users/edit"}
                        Account
                        %i.fa.fa-user.pl-5
                      %a.btn.btn-sm.hidden-xs.btn-gray-transparent{:href => "/users/sign_out"}
                        Sign out
                        %i.fa.fa-times.pl-5
                      %a.btn.btn-lg.visible-xs.btn-block.btn-gray-transparent{:href => "/users/sign_out"}
                        Sign out
                        %i.fa.fa-times.pl-5
                    / header buttons end
              / navbar end
            / main-navigation end
          / header-right end
  / header end
  / header-container end
