:sass

  .logo_img 
    height: 25px
    margin-top: 15px

%body
  %header.header.fixed.clearfix
    .container
      .row
        .col-md-3
          / header-left start
          / ================
          .header-left.clearfix
            / logo
            #logo.logo
              %a{:href => "index.html"}
                = image_tag 'logo/logo-small.png', class: 'img logo_img'
          / header-left end
        .col-md-9
          / header-right start
          / ================
          .header-right.clearfix
            / main-navigation start
            / classes:
            / "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick"
            / "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated"
            / "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns
            / ================
            .main-navigation.animated.with-dropdown-buttons
              / navbar start
              / ================
              %nav.navbar.navbar-default{:role => "navigation"}
                .container-fluid
                  / Toggle get grouped for better mobile display
                  .navbar-header
                    %button.navbar-toggle{"data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
                      %span.sr-only Toggle navigation
                      %span.icon-bar
                      %span.icon-bar
                      %span.icon-bar
                  / Collect the nav links, forms, and other content for toggling
                  #navbar-collapse-1.collapse.navbar-collapse
                    / main-menu
                    %ul.nav.navbar-nav
                      / mega-menu start
                      %li.dropdown.active.mega-menu
                        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "index.html"} Home
                        %ul.dropdown-menu
                          %li
                            .row
                              .col-md-12
                                %h4.title
                                  %i.fa.fa-laptop.pr-10
                                  Demos
                                .row
                                  .col-sm-6.col-md-3
                                    .divider
                                    %ul.menu
                                      %li
                                        %a{:href => "index.html"}
                                          %i.icon-home.pr-10>
                                          Home Default
                                      %li
                                        %a{:href => "index-corporate-1.html"}
                                          %i.icon-suitcase.pr-10>
                                          Corporate 1
                                      %li
                                        %a{:href => "index-corporate-2.html"}
                                          %i.icon-suitcase.pr-10>
                                          Corporate 2
                                      %li
                                        %a{:href => "index-corporate-3.html"}
                                          %i.icon-suitcase.pr-10>
                                          Corporate 3
                                      %li
                                        %a{:href => "index-corporate-4.html"}
                                          %i.icon-suitcase.pr-10>
                                          Corporate 4
                                          %span.badge v1.2
                                      %li
                                        %a{:href => "index-corporate-5.html"}
                                          %i.icon-suitcase.pr-10>
                                          Corporate 5 (Law Firm)
                                          %span.badge New
                                      %li
                                        %a{:href => "index-shop.html"}
                                          %i.icon-basket-1.pr-10>
                                          Commerce 1
                                  .col-sm-6.col-md-3
                                    .divider
                                    %ul.menu
                                      %li
                                        %a{:href => "index-shop-2.html"}
                                          %i.icon-basket-1.pr-10>
                                          Commerce 2
                                      %li
                                        %a{:href => "index-portfolio.html"}
                                          %i.icon-briefcase.pr-10>
                                          Portfolio/Agency
                                      %li
                                        %a{:href => "index-medical.html"}
                                          %i.fa.fa-ambulance.pr-10>
                                          Medical
                                      %li
                                        %a{:href => "index-restaurant.html"}
                                          %i.fa.fa-cutlery.pr-10>
                                          Restaurant
                                      %li
                                        %a{:href => "index-restaurant-2.html"}
                                          %i.fa.fa-cutlery.pr-10>
                                          Restaurant 2
                                          %span.badge NEW
                                      %li
                                        %a{:href => "index-wedding.html"}
                                          %i.icon-heart.pr-10>
                                          Wedding
                                      %li
                                        %a{:href => "index-landing.html"}
                                          %i.fa.fa-star.pr-10>
                                          Landing Page
                                  .col-sm-6.col-md-3
                                    .divider
                                    %ul.menu
                                      %li
                                        %a{:href => "index-landing-2.html"}
                                          %i.fa.fa-star.pr-10>
                                          Landing Page 2
                                          %span.badge NEW
                                      %li
                                        %a{:href => "page-coming-soon.html"}
                                          %i.fa.fa-clock-o.pr-10>
                                          Coming Soon
                                      %li
                                        %a{:href => "index-one-page.html"}
                                          %i.icon-home.pr-10>
                                          One Page Version
                                      %li.active
                                        %a{:href => "index-construction.html"}
                                          %i.fa.fa-building.pr-10>
                                          Construction
                                          %span.badge v1.1
                                      %li
                                        %a{:href => "index-education.html"}
                                          %i.fa.fa-graduation-cap.pr-10>
                                          Education
                                          %span.badge v1.1
                                      %li
                                        %a{:href => "index-hotel.html"}
                                          %i.fa.fa-bed.pr-10>
                                          Hotel
                                          %span.badge v1.1
                                      %li
                                        %a{:href => "index-blog.html"}
                                          %i.fa.fa-pencil.pr-10>
                                          Blog
                                          %span.badge v1.1
                                  .col-sm-6.col-md-3
                                    .divider
                                    %ul.menu
                                      %li
                                        %a{:href => "index-blog-2.html"}
                                          %i.fa.fa-pencil.pr-10>
                                          Blog 2
                                          %span.badge NEW
                                      %li
                                        %a{:href => "index-beauty.html"}
                                          %i.fa.fa-magic.pr-10>
                                          Beauty Center
                                          %span.badge v1.1
                                      %li
                                        %a{:href => "index-gym.html"}
                                          %i.fa.fa-heartbeat.pr-10>
                                          Gym
                                          %span.badge v1.2
                                      %li
                                        %a{:href => "index-resume.html"}
                                          %i.fa.fa-user.pr-10>
                                          Resume
                                          %span.badge v1.2
                                      %li
                                        %a{:href => "index-agency.html"}
                                          %i.fa.fa-users.pr-10>
                                          Agency
                                          %span.badge v1.2
                                      %li
                                        %a{:href => "index-logistics.html"}
                                          %i.fa.fa-truck.pr-10>
                                          Logistics
                                          %span.badge v1.2
                      / mega-menu end
                      / mega-menu start
                      %li.dropdown.mega-menu
                        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Pages
                        %ul.dropdown-menu
                          %li
                            .row
                              .col-lg-8.col-md-9
                                %h4.title Pages
                                .row
                                  .col-sm-4
                                    .divider
                                    %ul.menu
                                      %li
                                        %a{:href => "page-about.html"}
                                          %i.fa.fa-angle-right>
                                          About Us 1
                                      %li
                                        %a{:href => "page-about-2.html"}
                                          %i.fa.fa-angle-right>
                                          About Us 2
                                      %li
                                        %a{:href => "page-about-3.html"}
                                          %i.fa.fa-angle-right>
                                          About Us 3
                                      %li
                                        %a{:href => "page-about-4.html"}
                                          %i.fa.fa-angle-right>
                                          About Us 4
                                      %li
                                        %a{:href => "page-about-me.html"}
                                          %i.fa.fa-angle-right>
                                          About Me
                                      %li
                                        %a{:href => "page-team.html"}
                                          %i.fa.fa-angle-right>
                                          Our Team - Options 1
                                      %li
                                        %a{:href => "page-team-2.html"}
                                          %i.fa.fa-angle-right>
                                          Our Team - Options 2
                                      %li
                                        %a{:href => "page-team-3.html"}
                                          %i.fa.fa-angle-right>
                                          Our Team - Options 3
                                      %li
                                        %a{:href => "page-coming-soon.html"}
                                          %i.fa.fa-angle-right>
                                          Coming Soon Page
                                      %li
                                        %a{:href => "page-faq.html"}
                                          %i.fa.fa-angle-right>
                                          FAQ page
                                  .col-sm-4
                                    .divider
                                    %ul.menu
                                      %li
                                        %a{:href => "page-services.html"}
                                          %i.fa.fa-angle-right>
                                          Services 1
                                      %li
                                        %a{:href => "page-services-2.html"}
                                          %i.fa.fa-angle-right>
                                          Services 2
                                      %li
                                        %a{:href => "page-services-3.html"}
                                          %i.fa.fa-angle-right>
                                          Services 3
                                      %li
                                        %a{:href => "page-contact.html"}
                                          %i.fa.fa-angle-right>
                                          Contact 1
                                      %li
                                        %a{:href => "page-contact-2.html"}
                                          %i.fa.fa-angle-right>
                                          Contact 2
                                      %li
                                        %a{:href => "page-contact-3.html"}
                                          %i.fa.fa-angle-right>
                                          Contact 3
                                      %li
                                        %a{:href => "page-login.html"}
                                          %i.fa.fa-angle-right>
                                          Login 1
                                      %li
                                        %a{:href => "page-login-2.html"}
                                          %i.fa.fa-angle-right>
                                          Login 2 - Fullsreen
                                      %li
                                        %a{:href => "page-signup.html"}
                                          %i.fa.fa-angle-right>
                                          Sign Up 1
                                      %li
                                        %a{:href => "page-signup-2.html"}
                                          %i.fa.fa-angle-right>
                                          Sign Up 2 - Fullsreen
                                  .col-sm-4
                                    .divider
                                    %ul.menu
                                      %li
                                        %a{:href => "page-404.html"}
                                          %i.fa.fa-angle-right>
                                          404 error
                                      %li
                                        %a{:href => "page-404-2.html"}
                                          %i.fa.fa-angle-right>
                                          404 error - Parallax
                                      %li
                                        %a{:href => "page-affix-sidebar.html"}
                                          %i.fa.fa-angle-right>
                                          Sidebar - Affix Menu
                                      %li
                                        %a{:href => "page-left-sidebar.html"}
                                          %i.fa.fa-angle-right>
                                          Left Sidebar
                                      %li
                                        %a{:href => "page-right-sidebar.html"}
                                          %i.fa.fa-angle-right>
                                          Right Sidebar
                                      %li
                                        %a{:href => "page-two-sidebars.html"}
                                          %i.fa.fa-angle-right>
                                          Two Sidebars
                                      %li
                                        %a{:href => "page-two-sidebars-left.html"}
                                          %i.fa.fa-angle-right>
                                          Two Sidebars Left
                                      %li
                                        %a{:href => "page-two-sidebars-right.html"}
                                          %i.fa.fa-angle-right>
                                          Two Sidebars Right
                                      %li
                                        %a{:href => "page-no-sidebars.html"}
                                          %i.fa.fa-angle-right>
                                          No Sidebars
                                      %li
                                        %a{:href => "page-sitemap.html"}
                                          %i.fa.fa-angle-right>
                                          Sitemap
                              .col-lg-4.col-md-3.hidden-sm
                                %h4.title Premium HTML5 Template
                                %p.mb-10 The Project is perfectly suitable for corporate, business and company webpages.
                                %img{:alt => "The Project", :src => ""}/
                      / mega-menu end
                      %li.dropdown
                        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Features
                        %ul.dropdown-menu
                          %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                              Headers
                              %span.badge v1.2
                            %ul.dropdown-menu
                              %li
                                %a{:href => "features-headers-default.html"} Default/Semi-Transparent
                              %li
                                %a{:href => "features-headers-default-dark.html"} Dark/Semi-Transparent
                              %li
                                %a{:href => "features-headers-gradient-dark.html"}
                                  Gradient Dark
                                  %span.badge v1.2
                              %li
                                %a{:href => "features-headers-gradient-light.html"}
                                  Gradient Light
                                  %span.badge v1.2
                              %li
                                %a{:href => "features-headers-classic.html"} Classic Light
                              %li
                                %a{:href => "features-headers-classic-dark.html"} Classic Dark
                              %li
                                %a{:href => "features-headers-colored.html"} Colored/Light
                              %li
                                %a{:href => "features-headers-colored-dark.html"} Colored/Dark
                              %li
                                %a{:href => "features-headers-full-width.html"} Full Width
                              %li
                                %a{:href => "features-headers-offcanvas-left.html"} Offcanvas Left Side
                              %li
                                %a{:href => "features-headers-offcanvas-right.html"} Offcanvas Right Side
                              %li
                                %a{:href => "features-headers-logo-centered.html"} Logo Centered
                              %li
                                %a{:href => "features-headers-slider-top.html"} Slider Top
                              %li
                                %a{:href => "features-headers-simple.html"} Simple Static
                          %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                              Sticky Headers
                              %span.badge v1.2
                            %ul.dropdown-menu
                              %li
                                %a{:href => "features-headers-default.html"} Default
                              %li
                                %a{:href => "features-headers-sticky-2.html"}
                                  Alternative
                                  %span.badge v1.2
                          %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Menus
                            %ul.dropdown-menu
                              %li
                                %a{:href => "features-headers-default.html"} Default/On Hover Menu
                              %li
                                %a{:href => "features-menus-onhover-no-animations.html"} On Hover Menu - No Animations
                              %li
                                %a{:href => "features-menus-onclick.html"} On Click Menu - With Animations
                              %li
                                %a{:href => "features-menus-onclick-no-animations.html"} On Click Menu - No Animations
                          %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                              Footers
                              %span.badge v1.2
                            %ul.dropdown-menu
                              %li
                                %a{:href => "features-footers-default.html#footer"} Default
                              %li
                                %a{:href => "features-footers-contact-form.html#footer"} Contact Form
                              %li
                                %a{:href => "features-footers-contact-form-2.html#footer"}
                                  Contact Form 2
                                  %span.badge v1.2
                              %li
                                %a{:href => "features-footers-google-maps.html#footer"} Google Maps
                              %li
                                %a{:href => "features-footers-subscribe.html#footer"} Subscribe Form
                              %li
                                %a{:href => "features-footers-minimal.html#footer"} Minimal
                              %li
                                %a{:href => "features-footers-links.html#footer"}
                                  Links
                                  %span.badge v1.1
                              %li
                                %a{:href => "features-footers-full-width.html#footer"}
                                  Full Width
                                  %span.badge v1.2
                          %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                              Main Sliders
                              %span.badge v1.2
                            %ul.dropdown-menu
                              %li.dropdown-header.default-bg SLIDER REVOLUTION 5 - v1.2
                              %li
                                %a{:href => "features-sliders-fullscreen.html"} Full Screen
                              %li
                                %a{:href => "features-sliders-fullwidth.html"} Full Width
                              %li
                                %a{:href => "features-sliders-fullwidth-big-height.html"} Full Width - Big Height
                              %li
                                %a{:href => "features-sliders-boxedwidth-light.html"} Boxed Width - Light Bg
                              %li
                                %a{:href => "features-sliders-boxedwidth-dark.html"} Boxed Width - Dark Bg
                              %li
                                %a{:href => "features-sliders-boxedwidth-default.html"} Boxed Width - Default Bg
                              %li
                                %a{:href => "features-sliders-video-background.html"} Video Background
                              %li
                                %a{:href => "features-sliders-text-rotator.html"} Text Rotator
                              %li.dropdown
                                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Revolution 4
                                %ul.dropdown-menu
                                  %li
                                    %a{:href => "features-sliders-revolution-4-fullscreen.html"} Full Screen
                                  %li
                                    %a{:href => "features-sliders-revolution-4-fullwidth.html"} Full Width
                                  %li
                                    %a{:href => "features-sliders-revolution-4-fullwidth-big-height.html"} Full Width - Big Height
                                  %li
                                    %a{:href => "features-sliders-revolution-4-boxedwidth-light.html"} Boxed Width - Light Bg
                                  %li
                                    %a{:href => "features-sliders-revolution-4-boxedwidth-dark.html"} Boxed Width - Dark Bg
                                  %li
                                    %a{:href => "features-sliders-revolution-4-boxedwidth-default.html"} Boxed Width - Default Bg
                                  %li
                                    %a{:href => "features-sliders-revolution-4-video-background.html"} Video Background
                                  %li
                                    %a{:href => "features-sliders-revolution-4-text-rotator.html"} Text Rotator
                          %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                              Email Templates
                              %span.badge v1.1
                            %ul.dropdown-menu
                              %li
                                %a{:href => "email_templates/email_template_blue.html", :target => "_blank"} Blue
                              %li
                                %a{:href => "email_templates/email_template_brown.html", :target => "_blank"} Brown
                              %li
                                %a{:href => "email_templates/email_template_cool_green.html", :target => "_blank"} Cool Green
                              %li
                                %a{:href => "email_templates/email_template_dark_cyan.html", :target => "_blank"} Dark Cyan
                              %li
                                %a{:href => "email_templates/email_template_dark_red.html", :target => "_blank"} Dark Red
                              %li
                                %a{:href => "email_templates/email_template_gold.html", :target => "_blank"} Gold
                              %li
                                %a{:href => "email_templates/email_template_gray.html", :target => "_blank"} Gray
                              %li
                                %a{:href => "email_templates/email_template_green.html", :target => "_blank"} Green
                              %li
                                %a{:href => "email_templates/email_template_light_blue.html", :target => "_blank"} Light Blue
                              %li
                                %a{:href => "email_templates/email_template_orange.html", :target => "_blank"} Orange
                              %li
                                %a{:href => "email_templates/email_template_pink.html", :target => "_blank"} Pink
                              %li
                                %a{:href => "email_templates/email_template_purple.html", :target => "_blank"} Purple
                              %li
                                %a{:href => "email_templates/email_template_red.html", :target => "_blank"} Red
                              %li
                                %a{:href => "email_templates/email_template_vivid_red.html", :target => "_blank"} Vivid Red
                          %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Pricing Tables
                            %ul.dropdown-menu
                              %li
                                %a{:href => "features-pricing-tables-1.html"} Pricing Tables 1
                              %li
                                %a{:href => "features-pricing-tables-2.html"} Pricing Tables 2
                              %li
                                %a{:href => "features-pricing-tables-3.html"} Pricing Tables 3
                          %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Icons
                            %ul.dropdown-menu
                              %li
                                %a{:href => "features-icons-fontawesome.html"} Font Awesome
                              %li
                                %a{:href => "features-icons-fontello.html"} Fontello
                              %li
                                %a{:href => "features-icons-glyphicons.html"} Glyphicons
                          %li
                            %a{:href => "features-dark-page.html"} Dark Page
                          %li
                            %a{:href => "features-typography.html"} Typography
                          %li
                            %a{:href => "features-backgrounds.html"} Backgrounds
                          %li
                            %a{:href => "features-grid.html"} Grid
                      / mega-menu start
                      %li.dropdown.mega-menu.narrow
                        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Components
                        %ul.dropdown-menu
                          %li
                            .row
                              .col-md-12
                                %h4.title
                                  %i.fa.fa-magic.pr-10
                                  Components
                                .row
                                  .col-sm-6
                                    .divider
                                    %ul.menu
                                      %li
                                        %a{:href => "components-social-icons.html"}
                                          %i.icon-share.pr-10>
                                          Social Icons
                                      %li
                                        %a{:href => "components-buttons.html"}
                                          %i.icon-flask.pr-10>
                                          Buttons
                                      %li
                                        %a{:href => "components-forms.html"}
                                          %i.icon-eq.pr-10>
                                          Forms
                                      %li
                                        %a{:href => "components-tabs-and-pills.html"}
                                          %i.icon-dot-3.pr-10>
                                          Tabs &amp; Pills
                                      %li
                                        %a{:href => "components-accordions.html"}
                                          %i.icon-menu-outline.pr-10>
                                          Accordions
                                      %li
                                        %a{:href => "components-progress-bars.html"}
                                          %i.icon-chart-line.pr-10>
                                          Progress Bars
                                      %li
                                        %a{:href => "components-call-to-action.html"}
                                          %i.icon-chat.pr-10>
                                          Call to Action Blocks
                                      %li
                                        %a{:href => "components-alerts-and-callouts.html"}
                                          %i.icon-info-circled.pr-10>
                                          Alerts &amp; Callouts
                                      %li
                                        %a{:href => "components-content-sliders.html"}
                                          %i.icon-star-filled.pr-10>
                                          Content Sliders
                                      %li
                                        %a{:href => "components-charts.html"}
                                          %i.icon-chart-pie.pr-10>
                                          Charts
                                      %li
                                        %a{:href => "components-page-loaders.html"}
                                          %i.fa.fa-circle-o-notch.fa-spin>
                                          Page Loaders
                                          %span.badge v1.1
                                      %li
                                        %a{:href => "components-icon-boxes.html"}
                                          %i.icon-picture-outline.pr-10>
                                          Icon Boxes
                                  .col-sm-6
                                    .divider
                                    %ul.menu
                                      %li
                                        %a{:href => "components-image-boxes.html"}
                                          %i.icon-camera-1.pr-10>
                                          Image Boxes
                                      %li
                                        %a{:href => "components-fullwidth-sections.html"}
                                          %i.icon-code-1.pr-10>
                                          Full Width Sections
                                      %li
                                        %a{:href => "components-animations.html"}
                                          %i.icon-docs.pr-10>
                                          Animations
                                      %li
                                        %a{:href => "components-video-and-audio.html"}
                                          %i.icon-video.pr-10>
                                          Video &amp; Audio
                                      %li
                                        %a{:href => "components-lightbox.html"}
                                          %i.icon-plus.pr-10>
                                          Lightbox
                                      %li
                                        %a{:href => "components-counters.html"}
                                          %i.icon-sort-numeric.pr-10>
                                          Counters
                                      %li
                                        %a{:href => "components-modals.html"}
                                          %i.icon-popup.pr-10>
                                          Modals
                                      %li
                                        %a{:href => "components-tables.html"}
                                          %i.icon-th.pr-10>
                                          Tables
                                      %li
                                        %a{:href => "components-text-rotators.html"}
                                          %i.icon-arrows-ccw.pr-10>
                                          Text Rotators
                                      %li
                                        %a{:href => "components-announcement-default.html"}
                                          %i.icon-megaphone.pr-10>
                                          Announcements
                                          %span.badge NEW
                                      %li
                                        %a{:href => "components-separators.html"}
                                          %i.icon-star.pr-10>
                                          Separators
                                          %span.badge NEW
                      / mega-menu end
                      %li.dropdown
                        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "portfolio-grid-2-3-col.html"} Portfolio
                        %ul.dropdown-menu
                          %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Portfolio Grid 1
                            %ul.dropdown-menu
                              %li
                                %a{:href => "portfolio-grid-1-2-col.html"} 2 Column
                              %li
                                %a{:href => "portfolio-grid-1-3-col.html"} 3 Column
                              %li
                                %a{:href => "portfolio-grid-1-4-col.html"} 4 Column
                              %li
                                %a{:href => "portfolio-grid-1-sidebar.html"} With Sidebar
                          %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Portfolio Grid 2
                            %ul.dropdown-menu
                              %li
                                %a{:href => "portfolio-grid-2-2-col.html"} 2 Column
                              %li
                                %a{:href => "portfolio-grid-2-3-col.html"} 3 Column
                              %li
                                %a{:href => "portfolio-grid-2-4-col.html"} 4 Column
                              %li
                                %a{:href => "portfolio-grid-2-sidebar.html"} With Sidebar
                          %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Portfolio Grid 3 - Dark
                            %ul.dropdown-menu
                              %li
                                %a{:href => "portfolio-grid-3-2-col.html"} 2 Column
                              %li
                                %a{:href => "portfolio-grid-3-3-col.html"} 3 Column
                              %li
                                %a{:href => "portfolio-grid-3-4-col.html"} 4 Column
                              %li
                                %a{:href => "portfolio-grid-3-sidebar.html"} With Sidebar
                          %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Portfolio Fullwidth
                            %ul.dropdown-menu
                              %li
                                %a{:href => "portfolio-fullwidth-2-col.html"} 2 Column
                              %li
                                %a{:href => "portfolio-fullwidth-3-col.html"} 3 Column
                              %li
                                %a{:href => "portfolio-fullwidth-4-col.html"} 4 Column
                          %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Portfolio List
                            %ul.dropdown-menu
                              %li
                                %a{:href => "portfolio-list-1.html"} List - Large Images
                              %li
                                %a{:href => "portfolio-list-2.html"} List - Small Images
                              %li
                                %a{:href => "portfolio-list-sidebar.html"} With Sidebar
                          %li
                            %a{:href => "portfolio-item.html"} Single Item 1
                          %li
                            %a{:href => "portfolio-item-2.html"} Single Item 2
                          %li
                            %a{:href => "portfolio-item-3.html"} Single Item 3
                      %li.dropdown
                        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "index-shop.html"} Shop
                        %ul.dropdown-menu
                          %li
                            %a{:href => "index-shop.html"} Shop Home 1
                          %li
                            %a{:href => "index-shop-2.html"} Shop Home 2
                          %li
                            %a{:href => "shop-listing-4col.html"} Grid - 4 Columns
                          %li
                            %a{:href => "shop-listing-3col.html"} Grid - 3 Columns
                          %li
                            %a{:href => "shop-listing-2col.html"} Grid - 2 Columns
                          %li
                            %a{:href => "shop-listing-sidebar.html"} Grid - With Sidebar
                          %li
                            %a{:href => "shop-listing-list.html"} List
                          %li
                            %a{:href => "shop-product.html"} Product Page
                          %li
                            %a{:href => "shop-product-2.html"}
                              Product Page 2
                              %span.badge NEW
                          %li
                            %a{:href => "shop-cart.html"} Shopping Cart
                          %li
                            %a{:href => "shop-checkout.html"} Checkout Page - Step 1
                          %li
                            %a{:href => "shop-checkout-payment.html"} Checkout Page - Step 2
                          %li
                            %a{:href => "shop-checkout-review.html"} Checkout Page - Step 3
                          %li
                            %a{:href => "shop-invoice.html"} Invoice
                      %li.dropdown
                        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "blog-large-image-right-sidebar.html"} Blog
                        %ul.dropdown-menu
                          %li
                            %a{:href => "index-blog.html"}
                              Blog Home
                              %span.badge v1.1
                          %li
                            %a{:href => "index-blog-2.html"}
                              Blog Home 2
                              %span.badge NEW
                          %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Large Image
                            %ul.dropdown-menu.to-left
                              %li
                                %a{:href => "blog-large-image-right-sidebar.html"} Right Sidebar
                              %li
                                %a{:href => "blog-large-image-left-sidebar.html"} Left Sidebar
                              %li
                                %a{:href => "blog-large-image-no-sidebar.html"} Without Sidebar
                          %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Medium Image
                            %ul.dropdown-menu.to-left
                              %li
                                %a{:href => "blog-medium-image-right-sidebar.html"} Right Sidebar
                              %li
                                %a{:href => "blog-medium-image-left-sidebar.html"} Left Sidebar
                              %li
                                %a{:href => "blog-medium-image-no-sidebar.html"} Without Sidebar
                          %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Masonry
                            %ul.dropdown-menu.to-left
                              %li
                                %a{:href => "blog-masonry-right-sidebar.html"} Right Sidebar
                              %li
                                %a{:href => "blog-masonry-left-sidebar.html"} Left Sidebar
                              %li
                                %a{:href => "blog-masonry-no-sidebar.html"} Without Sidebar
                          %li
                            %a{:href => "blog-timeline.html"} Timeline
                          %li
                            %a{:href => "blog-post.html"} Blog Post
                    / main-menu end
                    / header buttons
                    .header-dropdown-buttons
                      %a.btn.btn-sm.hidden-xs.btn-default{:href => "mailto:theproject@info.com"}
                        Contact Us
                        %i.fa.fa-envelope-o.pl-5
                      %a.btn.btn-lg.visible-xs.btn-block.btn-default{:href => "mailto:theproject@info.com"}
                        Contact Us
                        %i.fa.fa-envelope-o.pl-5
                    / header buttons end
              / navbar end
            / main-navigation end
          / header-right end
  / header end
  / header-container end
