:sass

#contact_us.linked
%section.section.pv-40.clearfix
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3.title.text-center
          Sales
          %span.text-default
        .separator
        %p.lead.text-center


    .row
      .col-lg-6
        %h3.title
        %p
          Licenses are available on a single payment perpetual license basis with optional technical and upgrade support or a lease basis which includes both technical and upgrade support. The minimum lease period is 3 months.
          %br
          %br
          If you require license costs or any additional information on the NWD modules please contact AES  on
          = succeed "" do
            %a{:href => "sales@newwavesdesign.com"}
              sales@newwavesdesign.com.
        %ul.list-icons
          %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "100"}
            %i.icon-check-1
            Low cost
          %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "100"}
            %i.icon-check-1
            Local or floating licenses (licences can be shared between office locations)
          %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "150"}
            %i.icon-check-1
            Modules are fully integrated and the system can be added to on an 'as and when requirements dictate' basis.
          %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "200"}
            %i.icon-check-1
            Support is provided free of charge for a period of 6 months from date of purchase.
          %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "250"}
            %i.icon-check-1
            Technical support is available to all registered users.

      .col-lg-6.mb-4
        .overlay-container.overlay-visible{style: "margin-top: 20px"}
          = cl_image_tag("fs2000/field.jpg", :client_hints=>true, :transformation=>[{:dpr=>"auto", :height=>1250, :width=>2000, :y=>100, :x=>150, :crop=>"fill"}])

%section.section.video-background.background-img-1.default-translucent-bg
  .container
    .row
      .col-md-12
        .call-to-action.text-center
          .row
            .col-sm-8
              %h1.title Learn NWD in 1 day
              %p Your all-in-one solution for advanced and simple pipeline, structural and pipework analyses.
            .col-sm-4
              %br/
              %p
                %a.btn.btn-lg.btn-gray-transparent.btn-animated{:href => "#"}
                  Free trial
                  %i.fa.fa-arrow-right.pl-20
