:sass

#sales.linked
%section#about.main-container
  .container
    .row.justify-content-lg-center
      .col-lg-8
        %h2.text-center.title
          About
          %strong Us
        .separator
        %p.large.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.
    .row
      .col-lg-6
        %h3.title
          The Project is
          %span.text-rotator{"data-rotator-animation-effect" => "fadeIn"} Multipurpose, Powerful, Multiconcept
          Bootstrap Template
        %p
          Lorem ipsum dolor sit amet, lotrem
          = succeed "." do
            %span.text-default some colored text
          %strong attention to this
          blanditiis, ex cupiditate ipsam debitis rem.
        %ul.list-icons
          %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "100"}
            %i.icon-check-1
            Extremly Simple to Use
          %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "150"}
            %i.icon-check-1
            Customize it in no time
          %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "200"}
            %i.icon-check-1
            Unlimited options and variations
          %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "250"}
            %i.icon-check-1
            We are here to support you
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          = succeed "," do
            %strong Some bold text
      .col-lg-6.mb-4
        .overlay-container.overlay-visible
          = cl_image_tag("fs2000/main_features/Jacket.gif", :client_hints=>true, :transformation=>[{:dpr=>"auto", :height=>1250, :width=>2000, :y=>100, :x=>150, :crop=>"fill"}])
          
            